@page "/house/add"
@inject IHttpClientFactory httpClientFactory
@inject NavigationManager NavigationManager

<PageTitle>Add House</PageTitle>

<h1>Add New House</h1>

<form class="col-5">
    <div class="form-group my-4">
        <label for="Addresss">Address</label>
        <InputText @bind-Value="model.AddressName" class="form-control" />

    </div>
    <button type="button" class="btn btn-primary" @onclick="Save">Save</button>
    <NavLink class="btn btn-secondary" href="/houses">Cancel</NavLink>
</form>

@code {
    private HouseModel model { get; set; } = new HouseModel();

    protected override void OnInitialized()
    {
        //model = new HouseModel();
    }

    private async Task Save()
    {
        //HttpClient httpClient = httpClientFactory.CreateClient("Neighbor");
        //await httpClient.PostAsJsonAsync("api/houses", model);


        NavigationManager.NavigateTo("/houses");
    }
}